<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Info</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/infoDestinos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Footer.css">
</head>
<body>
    <nav class="Encabezado">
        <div class="BienvenidaP">
            <div>
                <img src="/img/LogoP.png">
            </div>
            <div id="Titulo">
                <h2> a tu servicio .......</h2>
            </div>
        </div>
        <div class="InformacionP">
            <div>
                <a>Conocenos</a>
            </div>
            <div>
                <a>Nuestras Redes</a>
            </div>
            <div>
                <a>Contactanos</a>
            </div>                
        </div>
        <div class="CuentasP">
            <button>Iniciar sesion</button>
            <button>Crear una cuenta</button>
        </div>
    </nav>
    <section class="PrimerPanel3"> 
        <h1>TU PROXIMA PARADA</h1>
    </section>
    <section class="SegundoPanel3">
        <div id="Tableroinfo2">
            <div>
                <h1>¿Necesitas información de tu destino??</h1>
                <div class="Grid-Informacion2">
                    <div class="Msj2">
                        <p id="MsjBienvenida2">¡Bienvenido a nuestra sección de información! Aquí podrás descubrir información esencial 
                            sobre diversos países del mundo. Encuentra detalles sobre la moneda, el idioma y la capital de cada nación, 
                            además de  explorar algunos de sus principales atractivos turísticos. Ya sea que estés planeando un viaje o 
                            simplemente quieras conocer más sobre un lugar, nuestra plataforma te ofrece una visión completa y accesible
                             para que descubras lo que hace único a cada país. ¡Embárcate en un viaje virtual y empieza a explorar!</p>
                    </div>
                    <div class="Imgs2">
                        <div id="InfoInformacion">
                            <p>Muchas paises</p>
                            <img src="/img/imgInfoDestino.png">
                        </div>
                        <div id="InfoViaje">
                            <p>Información segura</p>
                            <img src="/img/imgInfoDestino2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="TercerPanel3">
        <div class="infoCreacion2">
            <h1>Información que cura ...</h1>
            <p>Hidden Paradise te ofrece la infomación necesaria del destino de tu proxima aventura, con el objetivo de que estes
                preparado y así disfrutes al máximo tu viaje; ádemas, si el repertorio de paradas se te acabó, o sientes que es muy
                pequeño, te brindaremos algunas opciones.
            </p>
        </div>
        <div class="FormularioPaises">
            <h2>Ingresa el nombre del pais (en idioma ingles)</h2>
            <div class="FormCoun">
                <form id="country-form">
                    <input type="text" id="country-input" placeholder="Ingresa un país" required>
                    <button type="submit" >Buscar</button>
                </form>
            </div>
        </div>
        <div id="country-info"></div>
        <div id="country-destinations">
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h1>HiddenParadise</h1>
                <p>info@HiddenParadise@gmial.com</p>
            </div>
            <div class="footer-locations">
                <div>
                    <h3>Ciudad de México (Oficina Central):</h3>
                    <p>Av. San Pablo Xalpa CP. 02220 </p>
                    <p>+56 5540329077</p>
                </div>
                <div>
                    <h3>Tizayuca Hidalgo</h3>
                    <p>C. Peñazcal Mz.8 Lt.1 Fracc. San Antonio</p>
                    <p>+56 5539083885</p>
                </div>
            </div>
            <div class="footer-links">
                <ul>
                <li><a href="#">Promoción Empresarial</a></li>
                <li><a href="#">Touroperadora</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Hoteles y Gastronomía</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Políticas de Privacidad</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h3>Encuéntranos en:</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="DesarrolloE">
        <p>Desarrollado por: QUANTUMWEBCREATIONS <br> Todos los derechos reservados</p>
        
    </footer>
    <script src="/js/infoDestinos.js"></script>
</body>
</html>
